.color---test {
  /* 绿 */
  color: #42b983;
  /* 蓝 */
  color: #0092db;
  /* 橙 */
  color: #e96900;
  /* 黑 */
  color: #444;
}


.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  /* background: #272822;
  color: #f8f8f2; */
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #e96900;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #42b983;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #0092db;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #444;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}

/* html */
.lang-html .hljs-tag {
  color: #e96900;
}
.lang-html .hljs-tag .hljs-attr {
  color: #0092db;
}
.lang-html .hljs-tag .hljs-string {
  color: #42b983;
}