.preview {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    box-sizing: border-box;
    overflow: auto;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}