.editor-wrap {
    width: 50%;
    min-width: 550px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}